In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
machine_df = pd.read_csv('./files_for_lab/machine2.txt', sep= ' ')

In [3]:
machine_df.head(10)

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

## One tailed t-test

In [4]:
old_mean = np.mean(machine_df['Old_machine'])

In [5]:
# H0 : the new machine is more efficient
# H1 : the new machine is less efficient

In [6]:
st.ttest_1samp(machine_df['New_machine'],old_mean)

Ttest_1sampResult(statistic=-5.04331853503833, pvalue=0.0006966376076759033)

In [7]:
print('p value (single tailed): ',st.ttest_1samp(machine_df['New_machine'],old_mean)[1]/2)

p value (single tailed):  0.00034831880383795163

p is low : we can reject H0 + statistic < 0 ==> the new machine is worse than the old one

## Matched Pairs Test

In [8]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')

In [9]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
# H0 : Defense & Attack scores are =
# H1 : they are different

In [11]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [12]:
# we reject H0 : both scores are different (positive stat means defense >  attack)

# ANOVA

In [13]:
# H0 : each level of power gives back the same mean etching rate
# H1 : the level of power changes the etching rate
# significance level = 5%

In [14]:
plasma = pd.read_excel('files_for_lab/anova_lab_data.xlsx', sheet_name='data')

In [15]:
plasma = plasma.drop(['Totals ','Averages'], axis=1).transpose().reset_index()

In [16]:
plasma.columns = ['0', '160W', '180W','200W']

In [17]:
plasma = plasma.drop(columns='0')
plasma = plasma.drop(index=0)

In [23]:
plasma

   160W  180W  200W
1  5.43  6.24  8.79
2  5.71  6.71   9.2
3  6.22  5.98   7.9
4  6.01  5.66  8.15
5  5.59   6.6  7.55

In [20]:
st.f_oneway(plasma['160W'],plasma['180W'],plasma['200W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
# p value is very low ==> we reject H0 so the power has an influence on the etching rate